body{
	background-color: #f6f6f6;
}
.f10{
	color: #f10215;   /*京东红色字体*/
}
.w{
	width: 1190px;
	margin: 0 auto; 
}
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?1x1j55');
  src:  url('../fonts/icomoon.eot?1x1j55#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?1x1j55') format('truetype'),
    url('../fonts/icomoon.woff?1x1j55') format('woff'),
    url('../fonts/icomoon.svg?1x1j55#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
header{
	height: 80px;
	background-color: #272822;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
a {
  	text-decoration: none;
  	color: #999;
  }
  a:hover { 
  	color: #c81623;
  }
.shortcut{
	height: 30px;
	background-color: #e3e4e5;
	border-bottom: 1px solid #ddd;
	font-size: 14px;
	line-height: 30px;
}
ul,h1,input,h5,dd,dl,dt,p{
	margin: 0;
	padding: 0; 
}
input,button{
border: 0;
outline: none;
}
ul{
	list-style: none;
	
}
.city{
	margin-left: 200px;
}
.shortcut a{
	text-decoration: none;
}
.shortcut li{
	float: left;
}
.shortcut span {
	font-family: "icomoon";
}
.space{
	width: 1px;
	height: 10px;
	background-color: #ccc;
	margin: 10px 12px 0;
}
.mobile{
	position: relative;
}
.mobile img{
	position: absolute;
	top: 24;
	left: -3;
	border: 1px solid #ccc;
}
.middle{
	height: 140px;
	position: relative;
}
.logo{
	position: absolute;
	top: -30px;
	left: 0;
	box-shadow: 0px -10px 10px rgba( 0,0,0,.3)
}
.w .logo h1 a{
	display: block;
	background:  #fff url(../images/logo.png) no-repeat;
	width: 190px;
	height: 170px;
}
.form {
	width: 550px;
	height: 35px;
	position: absolute;
	top: 25px;
	left: 320px;
}
.form input{ 
	width: 495px;
	height: 33px;
	border: 1px solid #f10215;
	float: left;
	font-size: 14px;
	padding-left: 3px;
}
.form button{
	width: 50px;
	height: 35px;
	background-color:#f10215;
	float: left;  
}
.form button span{
	font-family: "icomoon";
	color: #fff;
}
.shopcar{
	width:  188px;
	height: 33px;
	border: 1px solid #ccc;
	position: absolute;
	top: 25px;
	right: 95px;
	background-color: #fff;
	text-align: center;
	color: #f10215 !important;
	line-height: 33px;
}
.shopcar .che{
	font-family: "icomoon";
	margin-right: 5px;
}
.shopcar .buynumber{
	width: 15px;
	height: 15px;
	border-radius: 50%;
	position: absolute;
	top: 5px;
	right: 30px;
	background-color: #f10215;
	color: #fff;
	line-height: 15px;
	font-size: 12px; 
}
.hotwords{
	position: absolute;
	top: 68px;
	left: 320px;
	font-size: 14px;
}
.hotwords a{
	margin-right: 4.1px;
}
.navitems{
	width: 770px;
	height: 40px;
	line-height: 40px;
	position: absolute;
	bottom: 0;
	left: 200px;
}
.navitems li{
	float: left;
	margin-left: 30px;
}
.navitems li a{
	color: #111;
}
.navitems li a:hover{
	color: #f10215;
}
.navitems .space1{
	width: 1px;
	height: 15px;
	background-color: #ccc;
	margin:15px -15px 0 15px;
}
.super{
	position: absolute;
	right: 0;
	bottom: 10px;
}
footer a{
	color: #666;
}
footer{
	height: 500px;
	background-color: #EAEAEA;
	margin-top: 35px;
}
footer .service{
	border-bottom: 1px solid #DEDEDE;
	padding: 30px 0;
	overflow: hidden;
}
footer .service .w li{
	float: left;
	display: block;
	width: 297px;
	height: 43px;
	line-height: 43px;
	position: relative;
}
footer .service li h5{
	position: absolute;
	top: 0;
	left: 38px;
	width: 36px;
	height: 43px;
	background: url(../images/ico.png) no-repeat;
}
.service li:nth-child(2) h5{
	background-position: 0 -43px;
}
.service li:nth-child(3) h5{
	background-position: 0 -86px;
}
.service li:nth-child(4) h5{
	background-position: 0 -129px;
}
.service li span{
	font-weight: bold;
	margin-left: 82px;
}
.help {
	height: 200px;
	border-bottom: 1px solid #ccc;
	padding-top: 25px;
	box-sizing: border-box;
}
.help .fl dl{
	float: left;
	width: 192px;
}
.help .fl dt{
	height: 30px;
	font-size: 14px;
	color: #666;
	font-weight: bold;
}
.help .fl dd{
	height: 22px;
	font-size: 12px;
}
.coverage {
	width: 200px;
	height: 150px;
}
.coverage dl dt{
	font-size: 16px;
	font-weight: bold;
	padding-left: 35px;
	padding-bottom: 15px;
}
.coverage dl dd{
	font-size: 12px;
	color: #666;
	line-height: 18px;
	width: 180px;
}
.coverage dl a{
	display: block;
	text-align: right;
	width: 180px;
	font-size: 12px;
	margin-top: 5px;
}
.copyright {
	padding-top: 20px;
	text-align: center;
	color: #666;
	font-size: 12px;
}
.copyright .jihe{
	margin-left: 25px;
}
.copyright .jihe p{
	float: left;
	font-size: 12px;
	text-align: center;
}
.copyright p span{
	margin: 0 10px;
}
.copyright .xukezheng {
	margin-top: 30px;
    text-align: center;
    line-height: 22px;
}
.last{
	text-align: center;
}
.last a{
	display: inline-block;
	width: 103px;
	height: 33px;
	background: url(../images/ico_footer.png) no-repeat 0 -150px;
	margin: 20px 4px 0;
}
.last a:nth-child(2){
	background-position: -103px  -150px;
}
.last a:nth-child(3){
	background-position: 0  -183px;
}
.last a:nth-child(4){
	background-position: -103px  -183px;
}
.last a:nth-child(5){
	background-position: 0  -216px;
}
.last a:nth-child(6){
	background-position: -103px  -216px;
}